<html>
  <head>
    {% if title %}
    <title>{{title}} - Unkuzi</title>
    {% else %}
    <title>Unkuzi</title>
    {% endif %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    {% if g.locale != 'en' %}
    <script src="/static/js/moment-{{g.locale}}.min.js"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div> 
    <a class="brand" href="/">Unkuzi:</a>
      <ul class="nav">
        <li><a href="{{url_for('index')}}">{{ _('Home') }}</a></li>
        {% if g.user.is_authenticated() %}
        <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Your Profile') }}</a></li>
        <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
        {% endif %}
      </ul>
     <div class="nav-collapse collapse">
        {% if g.user.is_authenticated() %}
        <form style="display: inline;" action="{{url_for('search')}}" method="post" name=_('Search')>{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20)}}<input type="submit" value="Search"></form>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
